<!DOCTYPE html>
<html>
<head>
    <script src="/angular/angular.js"></script>
    <script src="/javascripts/angApp.js"></script>
    <script src="/javascripts/matchController.js"></script>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css"/>
    <title></title>
</head>
<body ng-app="angApp">
<div class="container">
    <%- body %>
</div>
</body>
</html>